@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h6>姓名:黃奕翔</h6>
<h6>學號:410716649</h6>
<h6>喜歡的水果:</h6>
@{string[] fruits = { "蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" }; }
@ViewBag.Hw3
<ol>
    @foreach (var item in fruits)
    {

        <li>@item</li>

    }
</ol>